html {
    height: 100%;
    width: 100%;
}
body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 150px 1fr;
    height: 100%;
}
nav {
    grid-row: span 2;
    background-color: rgb(63, 63, 63);
    height: 100%;
    color: rgb(134, 134, 134);
    padding-left: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
}
ul {
    padding-top: 300px;
}
li {
    margin-bottom: 20px;
    cursor: pointer;
}
main {
    display: grid;
    grid-template-rows: 150px 1fr;
    margin: 20px;
    background-image: url(images/bckg.jpg);
    
}
main.homepage {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: grey;
    background-blend-mode: soft-light;
}
main.opaque {
    opacity: 0.5;
}
#content {
    font-family: 'Montserrat';
    font-size: 40px;
    color: black;
    font-weight: 900;
    margin: 20px 20px 0 20px;
}
#results {
    margin: 0 20px 20px 20px;
}
button {
    background: none;
    color:white;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 20px;
    
}
input, select {
    
    border-radius: 5px;
    font-family: 'Montserrat';
    color: black;
    width: 350px;
    height: 30px;
}
p {
    margin-top: 10px;
    color:white;
    font-size: 20px;
    font-family: 'Montserrat';
}
#results p:nth-child(3n) {
    margin-bottom: 20px;
}
#results p {
    color: white;
    margin-left: 10px;
}
h1 {
    font-family: 'Montserrat';
    font-size: 50px;
    color: white;
    text-align: center;
    opacity: 1;
    margin-top: 150px;
}
a {
    color: rgb(248,242,133);
    text-decoration: none;
}
h6 {
    font-family: 'Montserrat';
    color: white;
    text-align: center;
    margin-top: 100px;
    opacity: 1;
}
li.simplicity {
    cursor: initial;
    padding-bottom: 20px;
}
i.fa-address-book {
    width: 100%;
    color: white;
    font-size: 40px;
    margin-left: 30px;
    margin-bottom: 10px;
}
i.fa-search {
    font-weight: 800;
}
p.directory {
    margin-bottom: 20px;
}
